// ========================================
// Card
// - 画像
// - タイトル
// - テキスト
// ========================================

@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;



.card {
  position: relative;
  width: 33rem;
  height: 12.6rem;
  background-color: #ffffff;
  border: 0.1rem solid #e7e0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__title {
    font-size: 2rem;
    color: #b09d8b;
    text-align: center;
  }

  &__button {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 3.7rem;
    height: 1.7rem;
    border-radius: 7rem;
    background-color: #9d8b72;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      transform: scale(1.05);

      .card__arrow {
        transform: translateX(5px);
      }
    }
  }

  &__arrow {
    width: 34.2%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
}