// ========================================
// Card
// - 画像
// - タイトル
// - テキスト
// ========================================

@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;


.card {
  position: relative;

  width: 33rem;
  height: 12.6rem;

  background: #ffffff;
  border: 0.1rem solid #e7e0d8;

  overflow: hidden;
}

.card__title {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #b09d8b;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.03em;

  margin: 0;
}

.card {
    &__button {
        position: absolute;

        right: 0.6rem;
        bottom: 1rem;

        width: 3.3rem;
        height: 1.5rem;

        border: none;
        border-radius: 99.9rem;

        background: #9d8b72;
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

  &__arrow {
    display: inline-block;
    transform: translate(0.8rem, 0rem); // 右＆上に移動
  }
}

.card__button:hover {
  opacity: 0.8;
}