@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.reserve-btn-fix {
  @include mq('max-lg') {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 11rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background: $Background-brown;
    color: #fff;
    z-index: 99;
  //   transition: transform 0.3s;
  // &:hover{
  //     transform: scale(1.05);
  //   }
  }
  @include mq('min-lg') {
    display: none;
  }

  @include mq('min-xl') {
    display: none;
  }

  .reserve-btn-en, .jreserve-btn-ja {
    @include mq('max-lg') {
      display: inline-block;
      font-family: "Raleway", "Yu Gothic", "YuGothic", "游ゴシック体", sans-serif;
    }

  }

  .reserve-btn-en{
    @include mq('max-lg') {
      font-size: 3.2rem;
    }
  }

  .reserve-btn-ja {
    @include mq('max-lg') {
      font-size: 2.6rem;
    }
  }

  .reserve-btn-divider {
    @include mq('max-lg') {
      display: inline-block;
      margin: 0 2.6rem;
    }
  }  
}



//   width: 100%;
//   // display: flex;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   border: none;
//   border-radius: 8rem;
//   text-decoration: none;
//   background: $Background-brown;
//   color: #fff;
//   transition: transform 0.3s;
//   &:hover{
//       transform: scale(1.05);
//     }
  
//     @include mq('max-lg') {
//       max-width: 45rem;
//      // width: 45rem;
//      height: 6rem;
//    }
//     @include mq('min-lg') {
//       // min-width: 30rem
//       max-width: 30rem;
//       // width: 30rem;
//       height: 4rem;
//     } 


  
//  &-en, &-ja {
//     display: inline-block;
//     font-family: "Raleway", "Yu Gothic", "YuGothic", "游ゴシック体", sans-serif;
//   }

//   &-en {
//     @include mq('max-lg') {
//       font-size: 3.3rem
//     }
//     @include mq('min-lg') {
//       font-size: 2.1rem
//     }
//   }
  
//   &-ja {
//     @include mq('max-lg') {
//       font-size: 2.8rem;
//     }
//     @include mq('min-lg') {
//       font-size: 1.8rem;
//     }
//   }

//   &-divider {
//     display: inline-block;
//     @include mq('max-lg') {
//       margin-left: 35px;
//       margin-right: 21px;
//     }
//     @include mq('min-lg') {
//       margin-left: 20px;
//       margin-right: 15px;
//     }
//   }
// }
