@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;


.mainvisual {
  position: relative;
  width: 100%;

  .mainvisual-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .mainvisual-logo {
    width: 10%;
    position: absolute;
    top: 59%;
    left: 45%;
  }

  .mainvisual-title {
    color: #fff;
    font-weight: normal;
    font-size: 5rem;
    letter-spacing: 0.1em;
    white-space: nowrap;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
}

.card-group-item {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  @include mq('max-lg') {
    flex-direction: column;
    gap: 2rem;
  }
  @include mq('min-lg') {
    justify-content: center;
    gap: 3rem;
  }
}

.top-1 {
  .pc-only {
    display: block;

    @include mq('max-lg') {
      display: none;
    }    
  }

  .sp-only {
    display: none;

    @include mq('max-lg') {
      display: block;    
    }
  }

  background-color: rgb(239, 239, 239);
  .mainvisual-top1 {
    .mainvisual1 {
      height: 1280px;
      background-image: url(../../assets/image/top/1-mainvisual-2.webp);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: 800px;
        text-align: center;
        color: white;
        h1 {
          letter-spacing: 0.4em;
          line-height: 1.5;
        }
      }
      .gradation {
        color: white;
        text-align: center;
        p {
          letter-spacing: 0.1em;
          line-height: 4;
          font-size: 20px;
        }
      }
    }
    .mainvisual2 {
      height: 3467px;
      background-image: url(../../assets/image/top/1-mainvisual-3.webp);
    }
  }
}