@use "../foundation/variables"as *;
@use "../foundation/mixins"as *;

.ContactPage {
	background-color: #e9e5e1;
	padding-bottom: 10rem;

	&__HEAD {
		padding-top: 5rem;
		text-align: center;
		color: $Background-brown;
		margin-bottom: 10rem;

		p {
			padding-top: 1rem;
		}
	}

	&__text {
		text-align: center;
		color: $Background-brown;

		p {
			line-height: 2;
			padding: 5rem 0;
		}
	}

	.TOP-button {
		max-width: 30rem;
		width: 100%;
		margin: 0 auto;
		background-color: white;
		border: 1px solid white;
		border-radius: 50px;
		text-align: center;

		a {
			display: block;
			color: $Background-brown;
			border-radius: 50px;
			padding: 0.9rem;
			width: 100%;
		}
	}
}