@use "../foundation/variables"as *;
@use "../foundation/mixins"as *;

.itoshima810{

  // ---------------------------------------------------------
  // メインビジュアル
  // ---------------------------------------------------------
  &__content{
  position: relative;
  }

  &__logo{
    position: absolute;
    width: 13%;
    top: 74%;
    left: 42.5%;
    margin: 0 auto;
  }
  


  // ---------------------------------------------------------
  // 大テキスト＋ロゴ＋小テキスト＋予約ボタン
  // ---------------------------------------------------------
  &__Villa-Resort {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5e1;
    padding-top: 100px;
    padding-bottom: 100px;

  }
  
  &__title {
    font-size: 3.2rem;
    color:$Background-brown;    //△仮
    padding: 0;
    margin-bottom: 69px;  //△仮

  }

  &__catch {
    padding: 0;
    margin-bottom: 75px;

  }
  
  &__Villa-Resort-text {
    color: $Background-brown; //△仮
    margin-bottom: 65px;

  }

  &__reservation-button {
    width: 100%;
    display: contents;

  }

  &__visual {
    margin-bottom: 25px; //■仮

  }


  


}



  // ---------------------------------------------------------
  // ドグルスイッチ
  // ---------------------------------------------------------
  .switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .villa-block{
    color: #e2c3a5;
    background-color:#928572;

    &__img{
      position: relative;
      display: block flex;
      width: fit-content;

      @include mq('min-lg') {
        gap: 1.2rem;
      }
      
    }





  }





