@use "../foundation/variables"as *;
@use "../foundation/mixins"as *;

.itoshima810{

  // ---------------------------------------------------------
  // メインビジュアル
  // ---------------------------------------------------------
  &__content{
  position: relative;
  }

  &__logo{
    position: absolute;
    width: 13%;
    top: 74%;
    left: 42.5%;
    margin: 0 auto;
  }
  


  // ---------------------------------------------------------
  // 大テキスト＋ロゴ＋小テキスト＋予約ボタン
  // ---------------------------------------------------------
  &__Villa-Resort {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5e1;
    padding-top: 100px;
    padding-bottom: 100px;

  }
  
  &__title {
    font-size: 3.2rem;
    color:$Background-brown;    //△仮
    padding: 0;
    margin-bottom: 69px;  //△仮

  }

  &__catch {
    padding: 0;
    margin-bottom: 75px;

  }
  
  &__Villa-Resort-text {
    color: $Background-brown; //△仮
    margin-bottom: 65px;

  }

  &__reservation-button {
    width: 100%;
    display: contents;

  }

  // &__visual {
  //   margin-bottom: 25px; //■仮

  // }


  


}






  .villa-block{
    //-------------- 全体 --------------
    color: #e2c3a5;            //△仮
    background-color:#928572;  //△仮
    position: relative;
    width: 100%;
    margin-inline: auto; 

    @include mq('min-lg') {
      max-width: 112rem; //全体のmax-width
      padding-inline: 10rem; //全体を真ん中にする
    }

    //-------------- ここまで全体 --------------


    // ---------------------------------------------------------
    // ドグルスイッチ
    // ---------------------------------------------------------
    &__switcher {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    &__img{
      position: relative;
      display: block flex;
      width: fit-content;

      @include mq('min-lg') {
        gap: 1.2rem;
      }

      
    }

    &__text{
      position: absolute;
      inset-inline-start: 3rem;
      flex-direction: column;
      align-items: flex-end;
      width: fit-content;
    }
    &__text-desc{
      font-size: 1.5rem;
      line-height: 2.1111111111;
      margin-block-start: 12.5rem;
    }


    &__wrap{
      display: block flex;
      flex-wrap: wrap;
      margin-inline-start: 12rem;
    }

    &__m-01{
      flex-direction: row-reverse;
      align-items: flex-end;
      margin-inline-start: auto;
      
      
      @include mq('min-lg') {
        inset-inline-end: -43.5rem;
      }
    }

    &__m-02 {
      flex-direction: row-reverse;
      align-items: flex-end;
      margin-inline-start: auto;
      
      
      @include mq('min-lg') {
        inset-inline-start: -36.2rem;
      }
    }

  }





