@use "../foundation/variables"as *;
@use "../foundation/mixins"as *;

.l-container {
  max-width: 125rem;
  width: 100%;
  padding: 0 10rem;
  margin: 0 auto;
}

.itoshima808 {
  &__content{
  position: relative;
  width: 100%;
    // @include mq('max-lg') {
    //   height: 100vh;
    // }
    // @include mq('min-lg') {
    //   height: auto;
    // }
  }

  &__mainvisual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  &__logo{
    position: absolute;
    width: 12%;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%);
  }


  &__concept {    
    background-color: #e9e5e1;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10rem 0;

    }

    
    &__title {
      font-size: 3.2rem;
      font-weight: 300;
      color: #928572;
      text-align: center;
      letter-spacing: 0.3em;
      margin-bottom: 69px;
    }

    &__catch {
      margin-bottom: 4.7rem;
    }

    &__text {
      // font-size: 1.8rem;
      font-weight: 300;
      color: #928572;
      text-align: center;
      margin-bottom: 6.5rem;
    }
  }

  &__visual {
    margin-bottom: 2.5rem;
  }

  &__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }


    //  Villa（KITCHEN・BED ROOM・PRIVATE GARDEN）

  &__villa {
    overflow-x: hidden;

    &__imgtop {
      display: flex;
      justify-content: space-between;

      &__item {
        img {
          width: 100%;
          display: block;
        }

        &--left {
          width: 22%;
          margin-top: 30rem;
        }

        &--right {
          width: 46%;
          margin-top: -30rem;

        }          
      }     
    }
  }








}






