@use "../foundation/variables"as *;
@use "../foundation/mixins"as *;

.l-container {
  max-width: 125rem;
  width: 100%;
  padding: 0 10rem;
  margin: 0 auto;
}

.itoshima808 {

  // -----------------------------------
  // メインビジュアル
  // ----------------------------------

  &__content{
  position: relative;
  width: 100%;   
  }

  &__mainvisual {
    width: 100%;

    .hero__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
   

  &__logo{
    position: absolute;
    width: 12%;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%);
  }

  // --------------------------------------
  // 大テキスト＋ロゴ＋小テキスト＋予約ボタン
  // --------------------------------------

  &__concept {    
    background-color: #e9e5e1;

    &__content {
      
      @include mq('max-lg') {
        padding: 5rem;
      }
      @include mq('min-lg') {
        padding: 10rem 0;
      }
      @include mq('min-xl') {
        padding: 10rem 0;
      }
    }

    
    &__title {
      font-weight: 300;
      color: #928572;
      text-align: center;
      @include mq('max-lg') {
        font-size: 2.1rem;
        letter-spacing: 0.2em;
        margin-bottom: 3rem;
        text-align: center;
      }
      @include mq('min-lg') {
        font-size: 3.2rem;
        letter-spacing: 0.3em;
        margin-bottom: 6.9rem;
        text-align: center;
      }
      @include mq('min-xl') {
        font-size: 3.2rem;
        letter-spacing: 0.3em;
        margin-bottom: 6.9rem;
        text-align: center;
      }     
    }

    &__catch {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .itoshima808__hero-title {
        @include mq('max-lg') {
          width: 19.25rem;
        }
        @include mq('min-lg') {
          width: 29.6rem;
        }
        @include mq('min-xl') {
          width: 29.6rem;
        }
      }
    }

    &__text {
      font-weight: 300;
      color: #928572;
      text-align: center;
      line-height: 2.1;
      @include mq('max-lg') {
        margin: 4.5rem 0 3rem;
      }
      @include mq('min-lg') {
        margin: 6.5rem;
      }
      @include mq('min-xl') {
        margin: 6.5rem;
      }
    }

    &__reservation-button {
      text-align: center;
    }
  }

  
//-------------------------------------------
//  Villa（KITCHEN・BED ROOM・PRIVATE GARDEN）
//-------------------------------------------

  &__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  &__villa {
    background-color: #e9e5e1;
   body.is-night & {
    background-color:#928572;  
    
  }
    @include mq('max-lg') {
      position: static;
      padding-top: 1.5rem;
    }
    @include mq('min-lg') {
      position: relative;
      padding-top: 5.5rem;
    }
    @include mq('min-xl') {
      position: relative;
      padding-top: 5.5rem;
    }

  

    &__text {
      @include mq('max-lg') {
        position: static;
        text-align: center;
      }
      @include mq('min-lg') {
        position: absolute;
        inset-block-start: 10rem;
        inset-inline-start: 18rem;
        display: block flex;
        flex-direction: column;
        align-items: flex-end;       
      }
      @include mq('min-xl') {
        position: absolute;
        inset-block-start: 10rem;
        inset-inline-start: 18rem;
        display: block flex;
        flex-direction: column;
        align-items: flex-end;        
      }



      &__title { 
      body.is-night & {
      color: rgba(245, 240, 235, 0.7);
      }
        font-weight: 300;
        color: #c0b4a8;
        font-family: 'Raleway', 'sans-serif';
        @include mq('max-lg') {
          font-size: 4.3rem;
          margin-bottom: 2rem;          
        }
        @include mq('min-lg') {
          font-size: clamp(6.6rem, -1.43rem + 7.84vw, 8.6rem);
          margin-bottom: 4rem;
        }
        @include mq('min-xl') {
          font-size: 8.6rem;
          margin-bottom: 4rem;
        }
        
      }

      &__description {
      body.is-night & {
      color: #fff;
     }
        color: #8f8574;       
        @include mq('max-lg') {
          font-size: 1.4rem;
          line-height: 1.8;
          margin-top: 0;
        }
        @include mq('min-lg') {
          font-size: 1.6rem;
          line-height: 2.1;
          margin-top: -3rem;
        }
        @include mq('min-xl') {
          font-size: 1.6rem;
          line-height: 2.1;
          margin-top: -3rem;
        }     

        &__parts {
          margin-top: 1.5rem;        
        }
      }
    }

    &__imgtop {
      display: flex;
      overflow: hidden;
       @include mq('max-lg') {
        flex-direction: column-reverse;
        gap: 4rem;
       }
       @include mq('min-lg') {
        display: flex;
        justify-content: space-between;
       }
       @include mq('min-xl') {
        display: flex;
        justify-content: space-between;
       }


      &__item {
        figure {
        display: flex;
        gap: 0.5rem;
        margin: 0;
      }

        img {
          flex: 1;
          width: 100%;
          display: block;
        }

        figcaption {
        body.is-night & {
        color: #fff;
      }
        color: #8f8574;
        writing-mode: vertical-rl;
        flex-shrink: 0;
        @include mq('max-lg') {
          font-size: 1.4rem;
        }
      }

        &--left {
           @include mq('max-lg') {
            width: 53%;
            margin-top: 0;
           }
           @include mq('min-lg') {
            width: 20%;
            margin-top: 53rem;
           }
           @include mq('min-xl') {
             width: 20%;
             margin-top: 53rem;
           }

          figure {
            flex-direction: row;
            align-items: flex-start;
          }
        }

        &--right {
          @include mq('max-lg') {
            width: 85%;
            margin-top: 3rem;
            margin-left: auto;
            transform: translateX(6rem);
          }
          @include mq('min-lg') {
            width: 40%;
            margin-top: 3rem;
            transform: translateX(20rem);
          }
          @include mq('min-xl') {
            width: 40%;
            margin-top: 3rem;
            transform: translateX(20rem);
          }

          figure {
            flex-direction: row-reverse;
            align-items: flex-end;
          }
        }          
      }     
    }

    &__imgBottom {
      @include mq('max-lg') {
        display: flex;
        justify-content: center;
        padding-right: 0;
        margin-top: 3rem;
        margin-bottom: 9rem;
      }
      @include mq('min-lg') {
        display: flex;
        justify-content: flex-end;
        padding-right: 3rem;
        margin-top: -10rem;
        margin-bottom: 17.1rem;
      }
      @include mq('min-xl') {
        display: flex;
        justify-content: flex-end;
        padding-right: 3rem;
        margin-top: -10rem;
        margin-bottom: 17.1rem;
      }
      
      figure {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        margin: 0;
         @include mq('max-lg') {
          width: 80%;
         }
         @include mq('min-lg') {
          width: 60%;
         }
         @include mq('min-xl') {
          width: 60%;
         }        
      }

      img {
        flex: 1;
        width: 100%;
        display: block;
      }

      figcaption {
        body.is-night & {
        color: #fff;
      }
        color: #8f8574;
        writing-mode: vertical-rl;
        flex-shrink: 0;
        @include mq('max-lg') {
          font-size: 1.4rem;
        }
      }
    }    
  }




}






