---
import '../styles/components.scss';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
---

<main class="components">

  <h1>コンポーネント一覧</h1>

  <section class="components__block">
    <h2>Header</h2>
    <div class="components__preview">
      <Header />
    </div>
  </section>

  <section class="components__block">
    <h2>Button</h2>
    <div class="components__preview">
      <Button />
    </div>
  </section>

  <section class="components__block">
    <h2>Footer</h2>
    <div class="components__preview">
      <Footer />
    </div>
  </section>

</main>