---
import '../styles/components.scss';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
---
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>components astro</title>
</head>

<main class="components">

  <h1>コンポーネント一覧</h1>

  <section class="components__block">
    <h2>Header</h2>
    <div class="components__preview">
      <Header />
    </div>
  </section>

  <section class="components__block">
    <h2>Button</h2>
    <div class="components__preview">
      <Button />
    </div>
  </section>

  <section class="components__block">
    <h2>Footer</h2>
    <div class="components__preview">
      <Footer />
    </div>
  </section>

  <section class="components__block">
    <h2>Card</h2>
    <div class="components__preview">
      <Card />
    </div>
  </section>

</main>