---
import Layout from '../layouts/Layout.astro';
// Layout.astro = ページの共通テンプレ（外枠）
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import '../styles/pages/_index.scss';
import Button from "../components/Button.astro";
import Card from '../components/Card.astro';
---

<Layout>
  <main>
    <div class="mainvisual">
      <img class="mainvisual-image" src="/src/assets/image/top/top-mainvisual-1.webp" alt="リトリートプロジェクトのメインビジュアル">
      <div class="mainvisual-logo">
        <img src="/src/assets/image/top/designoffice.svg" alt="">
      </div>
      <h1 class="mainvisual-title">RETREAT PROJECT</h1>
    </div>

    <div class="button-group">
      <Button href="/project/" text="PROJECT 一覧" variant="outline" />

      <Button href="/reserve/" text="Reserve ｜ 予約" variant="primary" />
  </div>

  <div class="card-group">
    <ul class="card-group-item">
      <li><Card title="Airbnb" /></li>
      <li><Card title="Rakuten<br>Oyado" /></li>
      <li><Card title="Booking.com" /></li>
    </ul>
  </div>




  

  </main>
    


</Layout>