---
// src/components/Button.astro

import '../styles/components/_button.scss';

const { 
  href = "#", 
  text = "ボタン"
   } = Astro.props;
---

<a href={href} class="btn">
  <span>{text}</span>
</a>
