---
// src/components/Button.astro

import '../styles/components/_button.scss';

const { 
  href = "#", 
  text = "ボタン",
  variant = "primary"
 } = Astro.props;
---

<a href={href} class={`btn btn--${variant}`}>
  <span>{text}</span>
</a>
