---
// src/components/Button.astro

import '../styles/components/_button.scss';

interface Props {
  text: string;
  href: string;
  variant?: "primary" | "outline";
}

const { 
  href = "#", 
  text = "ボタン",
  variant = "primary"
 }: Props = Astro.props;
---

<a href={href} class={`btn btn--${variant}`}>
  <span>{text}</span>
</a>
