---
// src/components/Button.astro

import '../styles/components/_button.scss';

interface Props {
  text: string;
  href: string;
  variant: string:
}

const { 
  href = "#", 
  text = "ボタン",
  variant = "primary"
 } = Astro.props;
---

<a href={href} class={`btn btn--${variant}`}>
  <span>{text}</span>
</a>
