---
// src/components/Card.astro
import '../styles/components/_card.scss';

interface Props {
  title?: string;
  href?: string;
}

const {
  title = "カードタイトル",
  href = "#"
}: Props = Astro.props;
---

<div class="card">
  <p class="card__title">{title}</p>
  <a class="card__button" href={href}>
    <img class="card__arrow" src="/src/assets/SVG/white-arrow.svg" alt="">
  </a>  
</div>

