---
import '../styles/components/_card.scss';

interface Props {
  title?: string;
  url?: string;
}

const {
  title = "カードタイトル",
  url = "#",
} = Astro.props;
---

<div class="card">
  <p class="card__title">{title}</p>

  <button class="card__button">
    <svg
      class="card__arrow"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M5 12h14" />
      <path d="m12 5 7 7-7 7" />
    </svg>
  </button>
</div>
