<footer>
    <div>
        <h1>YONEDA HOTEL GROUP</h1>

        <nav>
            <a href="/jp">JP</a>
            <span>｜</span>
            <a href="/en">EN</a>
        </nav>
    </div>
    
</footer>