---
import '../styles/layout/footer.scss';
import Button from '../components/Button.astro';
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>footer-テスト</title>
    </head>
    <body>
        <footer>
            <div id="main">
                <div class="Headline">
                    <h1><a href="/">YONEDA HOTEL GROUP</a></h1>
                    <ul class="icon">
                        <li><img src="/SVG/Instagram.svg" alt="instagram"></li>
                        <li><img src="/SVG/LINE.svg" alt="LINE"></li>
                    </ul>
                    <nav>
                        <a href="/jp">JP</a>
                        <span>｜</span>
                        <a href="/en">EN</a>
                    </nav>
                </div>
                <div class="item">
                    <Button text='itoshima810' href="#"></Button>
                    <Button text='itoshima808' href="#"></Button>
                    <Button text='Tamagawa4' href="#"></Button>
                    <Button text='Okusu3' href="#"></Button>
                    <Button text='Reserve｜予約' href="#"></Button>
                </div>
                <div class="Copyright">
                    <p>Copyright &copy; YONEDA HOTEL GROUP All Rights Reserved.</p>
                    <p>PRIVACY POLICY</p>
                </div>
            </div>

            <aside id="sidebar">
                <ul class="text-list">
                    <li>ABOUT</li>
                    <li>PROJECT</li>
                    <li>CONTACT</li>
                </ul>
                <ul class="Company-List">
                    <li>ホテルづくりをお考えの方へ</li>
                    <li>米田建築工房</li>
                    <li>設計部門<br>TRUNK DESIGN OFFICE</li>
                </ul>
            </aside>
        </footer>
    </body>
</html>