<footer>
    <div id="main">
        <div class="Headline">
            <h1><a href="/">YONEDA HOTEL GROUP</a></h1>
            <nav>
                <a href="/jp">JP</a>
                <span>｜</span>
                <a href="/en">EN</a>
            </nav>
        </div>
        <div class="item">
            <a href="">itoshima810</a>
            <a href="">itoshima808</a>
            <a href="">Tamagawa4</a>
            <a href="">Okusu3</a>
            <a href="">Reserve<span>｜</span>予約</a>
        </div>
        <div class="Copyright">
            <p>Copyright &copy; YONEDA HOTEL GROUP All Rights Reserved.</p>
            <p>PRIVACY POLICY</p>
        </div>
    </div>

    <aside>
        <ul class="text-list">
            <li>ABOUT</li>
            <li>PROJECT</li>
            <li>CONTACT</li>
        </ul>
        <ul class="Company-List">
            <li>ホテルづくりをお考えの方へ</li>
            <li>米田建築工房</li>
            <li>設計部門<br>TRUNK DESIGN OFFICE</li>
        </ul>
    </aside>
    
</footer>