---
import '../styles/layout/footer.scss';
import InstagramIcon from '../assets/SVG/Instagram.svg';
import LineIcon from '../assets/SVG/LINE.svg';
import Button from '../components/Button.astro';
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>footer-テスト</title>
    </head>
    <body>
        <footer>
            <div id="main">
                <div class="pc-only">
                    <div class="Headline">
                        <h1><a href="/">YONEDA HOTEL GROUP</a></h1>
                        <div class="text-icon-button">
                            <ul class="icon">
                                <li><img src={InstagramIcon.src} alt="" class="header__sns-icon" /></li>
                                <li><img src={LineIcon.src} alt="" class="header__sns-icon" /> </li>
                            </ul>
                            <nav>
                                <a href="/jp">JP</a>
                                <span>｜</span>
                                <a href="/en">EN</a>
                            </nav>
                        </div>
                    </div>
                    <div class="item">
                        <Button text='itoshima810' href="#"></Button>
                        <Button text='itoshima808' href="#"></Button>
                        <Button text='Tamagawa4' href="#"></Button>
                        <Button text='Okusu3' href="#"></Button>
                        <Button text='Reserve｜予約' href="#"></Button>
                    </div>
                    <div class="Copyright">
                        <p>Copyright &copy; YONEDA HOTEL GROUP All Rights Reserved.</p>
                        <p>PRIVACY POLICY</p>
                    </div>
                </div>

                <div class="sp-only">
                    <div class="Headline-sp">
                        <nav>
                            <a href="/jp">JP</a>
                            <span>｜</span>
                            <a href="/en">EN</a>
                        </nav>
                        <h1><a href="/">YONEDA HOTEL GROUP</a></h1>
                        <div class="item-sp">
                            <Button text='itoshima810' href="#"></Button>
                            <Button text='itoshima808' href="#"></Button>
                            <Button text='Tamagawa4' href="#"></Button>
                            <Button text='Okusu3' href="#"></Button>
                            <Button text='Reserve｜予約' href="#"></Button>
                        </div>
                        <div class="column-text">
                            <div class="text-icon-button-sp">
                                <ul class="icon-sp">
                                    <li><img src={InstagramIcon.src} alt="" class="header__sns-icon" /></li>
                                    <li><img src={LineIcon.src} alt="" class="header__sns-icon" /> </li>
                                </ul>
                            </div>
                            <ul class="text-list">
                                <li>ABOUT</li>
                                <li>PROJECT</li>
                                <li>CONTACT</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <aside id="sidebar">
                <div class="pc-only">
                    <ul class="Company-List">
                        <li>ホテルづくりをお考えの方へ</li>
                        <li>米田建築工房</li>
                        <li>設計部門<br>TRUNK DESIGN OFFICE</li>
                    </ul>
                </div>                
            </aside>

            <div id="CC-List">
                <div class="sp-only">
                    <ul class="Company-List-sp">
                        <li>ホテルづくりをお考えの方へ</li>
                        <li>米田建築工房</li>
                        <li>設計部門<br>TRUNK DESIGN OFFICE</li>
                    </ul>
                    <div class="Copyright-sp">
                        <p>Copyright &copy; YONEDA HOTEL GROUP All Rights Reserved.</p>
                        <p>PRIVACY POLICY</p>
                    </div>
                </div>                
            </div>
        </footer>
    </body>
</html>